.drum-pad {
    width: 31%;
    height: 31%;

    border: 5px solid;
    border-image-source: linear-gradient(
        45deg,
        rgb(0, 143, 104),
        rgb(250, 224, 66)
    );
    border-image-slice: 1;

    text-align: center;
}
